@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .text-balance {
    text-wrap: balance;
  }
}

.noise::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9a/512x512_Dissolve_Noise_Texture.png");
  background-size: 250px;
  mix-blend-mode: overlay;
  opacity: 0.25;
  pointer-events: none;
  z-index: 0;
}
